<h1>Hi!</h1>

<p>
	We confirm reservation of parking place for your car.
</p>
<p>
	<strong>Place Number:
	</strong>
	{{placeNo}}
</p>
<p>
	<strong>Registration Number:
	</strong>
	{{registrationNo}}
</p>
<p>
	<strong>Reservation Start:
	</strong>
	{{start}}
</p>
<p>
	<strong>Reservation End:
	</strong>
{{end}}</p><p>
Cheers!</p>
